<!DOCTYPE html>
<html>
<head>
	<title>用户登录</title>
		<meta charset="utf-8">
		<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			       <h1 style="color:red;font-size:20px;font-family:黑体">{% for msg in get_flashed_messages() %}
							{{msg}}
					{% endfor %}</h1>
					<div class="head">
						<img src="/static/images/user.png" alt=""/>
					</div>
				<form action="login" method="POST">
						<input type="text" name="user_name" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}" >
						<input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">
							<input type="submit"  value="登录" >
					</div>	
					<p><a href="http://127.0.0.1:5000/register">立即注册</a></p>
				</form>
			</div>
			<!--//End-login-form-->
			 <!-----start-copyright---->
   					<div class="copy-right">
						<p>Copyright &copy; 2017.Lily_Young All rights reserved.</p>
					</div>
				<!-----//end-copyright---->
		</div>
			 <!-----//end-main---->
		 		
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>